In [1]:
import pandas as pd
import os
from pathlib import Path
import hvplot as hv
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

api = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version = "v2"
)

In [13]:
# Set current amount of shares data
shares_data = {
    "shares": [100, 100, 100, 100, 100, 100, 100]
}

# Set the tickers
tickers = ["MSFT", "AAPL", "FB", "ZM", "VZ", "HD", "JET"]

# Create the shares DataFrame
df_shares = pd.DataFrame(shares_data, index=tickers)

# Display shares data
df_shares

      shares
MSFT     100
AAPL     100
FB       100
ZM       100
VZ       100
HD       100
JET      100

In [14]:
 # Format current date as ISO format
today = pd.Timestamp("2021-01-08", tz="America/New_York").isoformat()

In [15]:
# Set timeframe to one day ('1D') for the Alpaca API
timeframe = "1D"

In [19]:
# Get current price data for MSFT and AAPL
df_portfolio = api.get_barset(
    tickers,
    timeframe,
    start = today,
    end = today
).df

# Display sample data
df_portfolio

                             AAPL                                        FB  \
                             open    high     low   close    volume    open
time
2021-01-08 05:00:00+00:00  132.43  132.63  130.23  131.99  93211863  268.31

                                                             ...     VZ  \
                             high     low   close    volume  ...   open
time                                                         ...
2021-01-08 05:00:00+00:00  268.95  263.18  267.54  16730340  ...  58.23

                                                              ZM               \
                            high    low   close    volume   open high     low
time
2021-01-08 05:00:00+00:00  58.36  57.37  57.805  24856848  345.2  350  340.34


                            close   volume
time
2021-01-08 05:00:00+00:00  349.78  4596067

[1 rows x 35 columns]